@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
  background-color:#D7ABEA;
  <link rel="stylesheet" href="AP.css">
     <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
}
<style>
.blue-transparent {
  background-color: rgba(0, 0, 255, 0.5); /* RGB values for blue with 50% opacity */
}
</style>
#container{
  background-color:#F5E5FC;
  width:97%;
  margin:auto;
  padding:10px;
}
header{
  text-align: center;
}
nav{
  background-color:#D7ABEA;
}
ul{
  text-align: center;
  list-style: none;
}
nav ul li{
  display: inline;
  margin: 15px;
}
nav ul li a:link{
  color:#580678;
  font-weight: bold;
  text-decoration: none;
}
nav ul li a:hover{
  color:#B32306;
  font-size: 1.5em;
}

aside p{
  background-color:#D686F8;
  width:40%;
  padding:10px;
  float:right;
}
aside p{
  font-family: 'Dancing Script', cursive;

  }

}
footer{
  text-align: center;
}
#sp1{
  color:#19E9D9;
  Font- weight: bold;
}
mark{
  background-color: blue;
  color:#fff;
}
